/**
 * World map
 */
.world-map
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  &--blur
    filter 5px

/**
 * Google Maps element
 */
#world-map-canvas
  position relative /* Will be set by the Maps API anyway */
  width 100%
  height 100%
