.index
  height 33%
  position relative
  top 33%
  background white // TODO
  text-align center

  .connect
    height 23px
    display inline-block
    color transparent
    &:active
      opacity .5

    &--foursquare
      width 150px
      background-image url('../images/vendor/connect-foursquare.png')
