{{!-- HTML --}}
<div class="world-map world-map--blur">
  <div id="world-map-canvas"></div>
</div>

{{!-- JavaScript --}}
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="/javascripts/markerclusterer.min.js"></script>
<script>
  function initialize() {
    var latlng = new google.maps.LatLng(20, 0);
    var styling = [
      {
        "featureType": "water",
        "stylers": [
          {
            "visibility": "on"
          },
          {
            "color": "#b5cbe4"
          }
        ]
      },
      {
        "featureType": "landscape",
        "stylers": [
          {
            "color": "#efefef"
          }
        ]
      },
      {
        "elementType": "geometry",
        "featureType": "road.highway",
        "stylers": [
          {
            "color": "#83a5b0"
          }
        ]
      },
      {
        "elementType": "geometry",
        "featureType": "road.arterial",
        "stylers": [
          {
            "color": "#bdcdd3"
          }
        ]
      },
      {
        "elementType": "geometry",
        "featureType": "road.local",
        "stylers": [
          {
            "color": "#ffffff"
          }
        ]
      },
      {
        "elementType": "geometry",
        "featureType": "poi.park",
        "stylers": [
          {
            "color": "#e3eed3"
          }
        ]
      },
      {
        "featureType": "administrative",
        "stylers": [
          {
            "visibility": "on"
          },
          {
            "lightness": 33
          }
        ]
      },
      {
        "featureType": "road"
      },
      {
        "elementType": "labels",
        "featureType": "poi.park",
        "stylers": [
          {
            "visibility": "on"
          },
          {
            "lightness": 20
          }
        ]
      },
      {
      },
      {
        "featureType": "road",
        "stylers": [
          {
            "lightness": 20
          }
        ]
      }
    ];
    var myOptions = {
      zoom: 3,
      minZoom: 2,
      center: latlng,
      draggable: true,
      panControl: false,
      streetViewControl: false,
      //zoomControl: true,
      zoomControlOptions: {
          position: google.maps.ControlPosition.LEFT_BOTTOM
      },
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles: styling
    };
    // TODO - Improve this
    // Make it global
    map = new google.maps.Map(document.getElementById("world-map-canvas"), myOptions);
    geocoder = new google.maps.Geocoder();
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>
