{{!-- HTML --}}
<div class="world-map world-map--blur">
  <div id="world-map-canvas"></div>
</div>

{{!-- JavaScript --}}
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
  function initialize() {
    var latlng = new google.maps.LatLng(20, 0);
    var myOptions = {
      zoom: 2,
      minZoom: 2,
      center: latlng,
      draggable: true,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("world-map-canvas"), myOptions);
  }

  //initialize();
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
