<div class="index">
  <h1>{{title}}</h1>
  <p>Track &amp; share the places you've been</p>

  <div class="connections">
    <a href="/connect/foursquare" class="connect connect--foursquare">
      Connect to Foursquare
    </a>
  </div>
</div>
