<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    {{> map}}
    {{{body}}}

    <!-- Scripts -->
    {{!-- HTML --}}
    <div class="wrapper-map-canvas">
      <div id="map-canvas"></div>
    </div>
  </body>
</html>
