<script type="text/jsx">
  window.onload = function (e) {
    // Remove blur
    var mapWrapper = document.getElementsByClassName('world-map');
    mapWrapper[0].className = 'world-map';
  };

  var headerClass = 'alpha-header';

  var Avatar = React.createClass({
    render: function () {
      var classString = headerClass + '--avatar';

      return (
        <div className={classString}>
          <img src={this.props.src}/>
        </div>
      );
    }
  });

  var Menu = React.createClass({
    render: function () {
      var classString = headerClass + '--menu';

      return (
        <div className={classString}>
        </div>
      );
    }
  });

  var Header = React.createClass({
    render: function () {
      var classString = headerClass + '--account';

      return (
        <div className={classString}>
          <Avatar src="https://avatars2.githubusercontent.com/u/385232"/>
          <Menu />
        </div>
      );
    }
  });

  React.render(
    <Header />,
    document.getElementById('alpha-header')
  );
</script>

<header id="alpha-header" class="alpha-header"></header>
