<script type="text/jsx">
  window.onload = function (e) {
    // Remove blur
    var mapWrapper = document.getElementsByClassName('world-map');
    mapWrapper[0].className = 'world-map';

    // Request places
    var geocoded = {};
    $.ajax({
      url: '/foursquare/places',
      dataType: 'json',
      success: function (places) {
        // TODO Remove this
        places = places.cities || places.items || places;

        var markers = $.map(places, function (info, name) {
          return new google.maps.Marker({
              position: new google.maps.LatLng(info.lat, info.lng)
          });
        });

        mc = new MarkerClusterer(map, markers);
      },
      error: console.log
    });

    function placeMarker(latandlong) {
      return new google.maps.Marker({
          //map: map,
          position: latandlong
      });
    }

    function codeAddress(address) {
      if (!geocoded[address]) {
        geocoder.geocode({
          'address': address
        }, function (results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            geocoded[address] = results[0].geometry.location;
            placeMarker(geocoded[address]);
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      } else {
        placeMarker(geocoded[address]);
      }
    }
  };

  var headerClass = 'alpha-header';

  var Avatar = React.createClass({
    render: function () {
      var classString = headerClass + '--avatar';

      return (
        <div className={classString}>
          <span>{this.props.msg}</span>
          <img src={this.props.src}/>
        </div>
      );
    }
  });

  var Menu = React.createClass({
    render: function () {
      var classString = headerClass + '--menu';

      return (
        <div className={classString}>
        </div>
      );
    }
  });

  var Account = React.createClass({
    getInitialState: function() {
      return {
        msg: 'Loading...',
        src: ''
      };
    },
    componentDidMount: function () {
      var size = '100x100'
      $.getJSON(this.props.endpoint, function (user) {
        user = user.user || user;

        if (this.isMounted()) {
          var msg = 'Welcome, ' + user.firstName + '!';
          var src = user.photo.prefix + size + user.photo.suffix
          this.setState({
            msg: msg,
            src: src
          });
        }
      }.bind(this));
    },
    render: function () {
      var classString = headerClass + '--account';

      return (
        <div className={classString}>
          <Avatar msg={this.state.msg} src={this.state.src} />
          <Menu />
        </div>
      );
    }
  });

  React.render(
    <Account endpoint="/foursquare/user" />,
    document.getElementById('header-wrapper-right')
  );
</script>

<header id="alpha-header" class="alpha-header">
  <div id="header-wrapper-right" class="alpha-header--right"></div>
</header>
