html,
.content,
.alpha-header {
  width: 100%;
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.content,
.alpha-header {
  position: relative;
  z-index: 1;
}
a {
  color: #00b7ff;
}
.alpha-header {
  width: 100%;
  height: 3em;
  background: #fff;
}
.alpha-header--right {
  position: absolute;
  right: 0;
}
.alpha-header--account > * {
  float: left;
}
.alpha-header--avatar {
  height: 3em;
}
.alpha-header--avatar * {
  float: left;
}
.alpha-header--avatar span {
  line-height: 3em;
}
.alpha-header--avatar img {
  height: 2em;
  width: 2em;
  margin: 0.5em;
}
.alpha-header--menu {
  height: 0.4em;
  width: 2em;
  background: #d3d3d3;
  margin: 1.3em 0;
  margin-right: 0.5em;
  position: relative;
  border-radius: 2px;
  cursor: pointer;
}
.alpha-header--menu:before,
.alpha-header--menu:after {
  display: block;
  content: '';
  height: 0.4em;
  width: 100%;
  position: absolute;
  left: 0;
  background: #d3d3d3;
  border-radius: 2px;
}
.alpha-header--menu:before {
  top: -0.8em;
}
.alpha-header--menu:after {
  bottom: -0.8em;
}
.world-map {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.world-map--blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  filter: blur(5px);
}
#world-map-canvas {
  position: relative;
/* Will be set by the Maps API anyway */
  width: 100%;
  height: 100%;
}
.index {
  height: 33%;
  position: relative;
  top: 33%;
  background: #fff;
  text-align: center;
}
.index .connect {
  height: 23px;
  display: inline-block;
  color: transparent;
}
.index .connect:active {
  opacity: 0.5;
}
.index .connect--foursquare {
  width: 150px;
  background-image: url("../images/vendor/connect-foursquare.png");
}
