html {
  height: 100%;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.wrapper-map-canvas {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#map-canvas {
  position: relative;
/* Will be set by the Maps API anyway */
  width: 500px;
  height: 500px;
}
