$header-height = 3em
$avatar-height = 2em
$avatar-margin = .5em

$menu-color = lightgrey

.alpha-header
  @extends .content
  width 100%
  height $header-height
  background white

  &--left
    height 100%
    float left

  &--center
    position absolute
    left 50%

  &--right
    position absolute
    right 0

  &--account > *
    float left

  &--logo
    height 100%
    width 3em
    background red

  &--avatar
    height $header-height
    *
      float left
    span
      line-height $header-height
    img
      height $avatar-height
      width @height
      margin $avatar-margin

  &--menu
    margin-right .2em
    position relative
    cursor pointer
    font-size 2.5em
    -webkit-user-select none
    user-select none
