$header-height = 3em
$avatar-height = 2em
$avatar-margin = .5em

$menu-color = lightgrey

.alpha-header
  @extends .content
  width 100%
  height $header-height
  background white

  &--right
    position absolute
    right 0

  &--account > *
    float left

  &--avatar
    height $header-height
    *
      float left
    span
      line-height $header-height
    img
      height $avatar-height
      width @height
      margin $avatar-margin

  &--menu
    $menu-fifth = $avatar-height / 5
    height $menu-fifth
    width $avatar-height
    background $menu-color
    margin ($menu-fifth * 2 + $avatar-margin) 0
    margin-right $avatar-margin
    position relative
    border-radius 2px
    cursor pointer
    &:before
    &:after
      display block
      content ''
      height $menu-fifth
      width 100%
      position absolute
      left 0
      background @background
      border-radius @border-radius
    &:before
      top -2 * $menu-fifth
    &:after
      bottom -2 * $menu-fifth
